name: Reconverse CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      LCI_ATTR_BACKEND: ofi
    name: Build and Test

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build libfabric-bin libfabric-dev openmpi-bin openmpi-common openmpi-doc libopenmpi-dev

      - name: Verify Installation
        run: |
          cmake --version
          ninja --version
          mpicc --version
          mpirun --version
          fi_info --version

      - name: With the LCI communication backend
        shell: bash
        run: |
            cmake \
                -Bbuild \
                -GNinja \
                -DCMAKE_BUILD_TYPE=Debug \
                -DRECONVERSE_AUTOFETCH_LCI2=ON \
                -DRECONVERSE_TEST_LAUNCHER="mpirun;--oversubscribe" \
                -DLCT_PMI_BACKEND_ENABLE_MPI=ON \
                .
            cmake --build build --target all
            ctest --extra-verbose --timeout 60

      - name: With the LCW communication backend
        shell: bash
        run: |
            cmake \
                -Bbuild \
                -GNinja \
                -DCMAKE_BUILD_TYPE=Debug \
                -DRECONVERSE_AUTOFETCH_LCW=ON \
                -DRECONVERSE_TEST_LAUNCHER="mpirun;--oversubscribe" \
                .
            cmake --build build --target all
            ctest --test-dir build --extra-verbose --timeout 60
